<html>
<head>
	<title>Notes</title>
</head>
<body>
<% if (!isAuthenticated) { %>
	<a href="/login">Log in here</a>
<% } else{  %>
 	hello, <%= user.name %>!
 	here is your notes: 
 	<%= member.notes %>
 	 <a href="/logout">Log out</a>
	<form action="/notes" method="post">
		<br>
		<textarea type="submit"  name="notes" placeholder="Write your notes here" ></textarea>
		<input value="Save notes" type="submit"  > 
	</form>
<% }%>
</body>
</html>